@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Acme');
/*header, navbar, and footer stuff that gets copied*/
h1{
    font-family: 'Acme', sans-serif;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.575);
    margin: 0;
}
.ANZEN{
    width: 80px}
    h1 {
    background-color:rgb(127, 179, 214);
    padding: 20px 50px;
    font-display: white;
}
div.topofpage {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(127, 179, 214);
    width: 100%;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    z-index: 9999999;
    }
    div.navbar > ul.navbar-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding-left: 1em;
    padding-right: 1em;
    overflow: hidden;
    }
    div.navbar > ul > li.nav-item {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    flex: 1 1 auto;
    }
    div.navbar > ul > li.active {
    background-color: rgba(43, 16, 16, 0.18);
    }
    div.navbar > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    }
    a.nav-button {
    text-decoration: none;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(228, 241, 254, 1);
    transition: all 0.5s ease;
    }
    a.nav-button:hover {
    text-decoration: none;
    
    }
    li.active > a.nav-button {
    cursor: default;
    }
    footer {
        text-align: left;
        width: 100%;
        padding-top: 20px;
        display: block;
        background-color: rgb(127, 179, 214);
        width: 100%;
        -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.75);
        z-index: 9999999;
    }
      .footer-copyright {
        text-align: left;
        font-weight: 300;
        overflow: hidden;
        height: 50px;
        line-height: 50px;
        color: black;
        background-color:rgb(127, 179, 214);
    }

/* sky background*/
body{
    background-image: url("./assets/sky.jpg");
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
/* wesbite heading */
h2{
    text-align: center;
    font-size: 22pt;
    background-color: rgba(245, 245, 245, 0.575);
    text-align: center;
}
#team{
    width: 800px;
    height: 600px;
}
#instagram{
    width: 70px;
    height: 70px;
}
#facebook{
    width: 90px;
    height: 70px;
}
#twitter{
    width: 70px;
    height: 70px;
}
#aboutuspicture{
    width: 1335px;
    height: 300px;
}
#blurb{
    font-size: 16pt;
    background-color: rgba(245, 245, 245, 0.575);
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
}