/*Anzen Discussion CSS*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*header, navbar, and footer stuff that gets copied*/
h1{
    text-align: center;
    background-color: rgba(245, 245, 245, 0.575);
    margin: 0;
}
.ANZEN{
    width: 80px}
    h1 {
    background-color:rgb(127, 179, 214);
    padding: 20px 50px;
    font-family: 'Raleway', sans-serif;
    font-display: white;
}
div.topofpage {
    background-color: rgb(127, 179, 214);
    width: 100%;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    z-index: 9999999;
    }
    div.navbar > ul.navbar-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding-left: 1em;
    padding-right: 1em;
    overflow: hidden;
    }
    div.navbar > ul > li.nav-item {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    flex: 1 1 auto;
    }
    div.navbar > ul > li.active {
    background-color: rgba(43, 16, 16, 0.18);
    }
    div.navbar > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    }
    a.nav-button {
    text-decoration: none;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(228, 241, 254, 1);
    transition: all 0.5s ease;
    }
    a.nav-button:hover {
    text-decoration: none;
    
    }
    li.active > a.nav-button {
    cursor: default;
    }
    footer {
        width: 100%;
        padding-top: 20px;
        display: block;
        background-color: rgb(127, 179, 214);
        width: 100%;
        -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.75);
        z-index: 9999999;
    }
      .footer-copyright {
        font-weight: 300;
        overflow: hidden;
        height: 50px;
        line-height: 50px;
        color: black;
        background-color:rgb(127, 179, 214);
    }

/*other stuff*/
body{
    background-image: url("./assets/sky.jpg");
    font-family: 'Raleway', sans-serif;
}
h2{
    text-align: center;
    font-size: 22pt;
    background-color: rgba(245, 245, 245, 0.575);
}
.firstparagraph{
    text-align: center;
    margin-bottom: 20px;
    font-size: 16pt;
    line-height: 35px;
    background-color: rgba(245, 245, 245, 0.575);
}
.comment{
    margin: 30px;
    padding: 20px;
    border: 1.5px solid rgba(0, 204, 255, 0.418);
    background-color: rgba(245, 245, 245, 0.575);
}
#addcomment{
    margin-bottom: 20px;
    text-align: center;
    font-size: 16pt;
    line-height: 35px;
}
#post{
    width: 80px;
    height: 50px;
    font-size: 16pt;
}