.parallax.p1 {
    background: url(./assets/Solar\ Panels.jpg) no-repeat fixed 50% 0;
    background-size: 1300px;
    height: 300px;
    color: rgb(255,255,255);
  }
  .parallax.p2 {
    background: url() no-repeat fixed 50% 0;
    background-size: 1800px;
    color: rgb(255,255,255);
  }
  .parallax.p3 {
    background: url() no-repeat fixed 70% 0;
    background-size: 1800px;
    color: rgb(255,255,255);
  }
  .parallax.p4 {
   background: url() no-repeat fixed 70% 0;
    background-size: cover;
    color: rgb(255,255,255);
  }